@model CraftApp.ViewModels.CraftViewModel
    <header id="header">
        <div class="logo container">
            <div>
                <h1>@Model.currentCategory</h1>
            </div>
        </div>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="/Home/Index">Главная</a></li>
            <li class="current">
                <a href="/Craft/List">Каталог</a>
                <ul>
                    <li><a href="/Craft/List/Plant">Растения</a></li>
                    <li><a href="/Craft/List/Ornament">Украшения</a></li>
                    <li><a href="/Craft/List/Wood">Деревянный дизайн</a></li>
                </ul>
            </li>
            <li><a href="/ShoppingCart/Index">Корзина</a></li>
        </ul>
    </nav>
    
    <div class="container">
        <div class="row gtr-200">
            @foreach (Craft craft in Model.getAllCrafts)
            {
                @Html.Partial("CraftInfo", craft)
            }
        </div>
    </div>


